body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
   
}



.upper-sec{
    background-image: url(img/D4.jpg);
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    padding:174px 307px 175px 307px;
    min-height: 500px;

}


.first-class h1{
font-family: 'Inter';
font-weight: 700;
font-size: 65px;
text-align: center;
color: #FFFFFF;
}

.first-class p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-bottom: 40px;
}

.donate-btn {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    margin: 10px 640px 10px;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    background: #FF5959;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    

}



.second-class h1{
height: 54px;
left: 568px;
top: 799px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 54px;
 text-align: center;
color: #121212;
}

.second-class p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #707070;

}

.mid-sec{
    width: 100%;
    height: 550px;
    text-align: center;
}

.mid-sec h1{
    font-size: 45px;
    font-weight: 600;
    padding-top: 5%;
    letter-spacing: 0.5px;
}

.mid-sec p{
    letter-spacing: 0.7px;
    padding-bottom: 5%;
    color: #707070;
}
.other-amount{
    display: flex;
    padding-bottom: 3%;
    margin: 50px 760px;
}

.other-amount a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #707070;
    padding: 20px 20px;
    background-color: #FAFAFA;
    border-radius: 3px;
}
#active {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}
#amount {
    padding: 10px 200px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #DADADA;
}

#donate-now{
    display: block;
    margin: 30px 970px;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #FF5959;
    border-radius: 5px;
    cursor: pointer;
}

.donate-plan{
    width: 100%;
    height: 670px;
    text-align: center;
}

.donate-plan h1{
    font-size: 45px;
    font-weight: 600;
    padding-top: 10%;
    letter-spacing: 0.5px;
}
.donate-plan p{
    letter-spacing: 0.7px;
    padding-top: 1%;
    padding-bottom: 5%;
    color: #707070;
}
.food-plan{
    display: flex;
    text-align: left;
}



.food-family{
    width: 360px;
    height: 352px;
    background-color: #4f9da642;
    margin-left: 450px;
    border-radius: 5px;
}

.shelter-family{
    width: 360px;
    height: 352px;
    background-color: #ff59592d;
    margin-left: 25px;
    border-radius: 5px;
}

.educatiion-family{
    width: 360px;
    height: 352px;
    background-color: #fff4d6;
    margin-left: 25px;
    border-radius: 5px;
}

.food-family img,
.shelter-family img,
.educatiion-family img {
    width: 15%;
    padding-top: 30px;
    padding-left: 25px;
}
.food-family h2,
.shelter-family h2,
.educatiion-family h2 {
    font-size: 1.6rem;
    padding-left: 20px;
    padding-top: 20px;
}
.food-family p,
.shelter-family p,
.educatiion-family p {
    font-size: 0.8rem;
    padding-left: 20px;
    
}

.side-section{
    display: flex;
    width: 100%;
    height: 670px;
   
}

.side{ 
    width: 50%;
    padding-left: 21%;
    width: 100%;
    height: 670px;  

}

.side h1{   
    font-size: 45px;
    font-weight: 600;
    padding-top: 30%;
    letter-spacing: 0.5px;
}

.side p{
    padding-bottom: 2%;
    color: #707070;
    
}
.contribute{
    margin-bottom: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #FF5959;
    border-radius: 5px;
    
}
.side-img img{
  margin-top: 250px;
  margin-right: 480px;
  width: 500px;
height: 477px;

}

.getmy-up{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.getmy-up h1{
    font-size: 38px;
    font-weight: 600;
    padding-top: 5%;
}

.getmy-up p{
    color: #707070;
    padding-bottom: 50px;
}

.subscribe{
    width: 70%;
    height: 200px;
    background-color: #FFF4D6;
    margin-left: 350px;
}

#btn-email{
    margin-top: 85px;
    padding: 7px 30px;
    font-size: 1.1rem;
    background-color: #D9D9D9;
    color: #AA9F9F;
    outline: none;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#subs{
    margin-top: 85px;
    margin-left: -5px;
    font-size: 1.1rem;
    padding: 7px 20px;
    background-color: #FF5959;
    color: #ffffff;
    outline: none;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #0B0D17;
}

footer>h1 {
    color: #FF5959;
    padding-top: 50px;
}

footer>p {
    color: #bdbec1;
    padding-top: 20px;
}